.header{
    background-color: black;
}
.hero-text{
    padding: 10% 0;
}

.hero-text .btn{
     margin:auto;
     width: 50%;
     padding: 10px
}

.hero-image{
    width: 600px;
    height:512px;
}

.card-img-top{
    height: 250px
}

@media only screen and (max-width: 400px){
    .hero-image{
        width: 0px;
        height: 0px;
    }
}